<ion-header>
  <ion-toolbar>
    <ion-title>
      Meu Primeiro App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
  <ion-card-header>
      <ion-card-title>
        Naruto
      </ion-card-title>
      <ion-card-subtitle>
        Pode ser um pouco duro as vezes
      </ion-card-subtitle>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum amet iusto temporibus illo, molestias eaque commodi tenetur dolor quaerat odit officia maxime voluptate numquam totam facilis aperiam obcaecati exercitationem reiciendis.
      </ion-card-content>
  </ion-card-header>
</ion-card>
</ion-content>
